* {
  margin:0;
  padding:0;
  border:0;
}

html {
  font-size: 10px
}

body {
  font-family: "Muli", sans-serif;
  color: #FFFFFF;
}

main {
  display: flex;
}

.bio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
}

/*#intro-div{
  padding: 1rem;
}*/

section {
  width: 50%;
  height:100vh;
}

h1 {
  font-family: "Philosopher", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2.4rem;
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
}

#button-div {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

.resume,
.contact {
  width: 10.5rem;
  height: 4.2rem;
  background-color: #18001B;
  color: #FFFFFF;
  border: .2rem solid #FFFFFF;

}

#resume-id {
  margin-right: 1rem;
}
.mini-img {
  width: 2rem;
  padding-right: 1rem;
}

/*.facebook-link,
.instagram-link {
  float: right;
  width: 3.5rem;
  padding: 0 2rem 0 0;
}*/

.box {
  text-align: center;
  width: 33.33%;
  height: 33.33%;
  font-size: 1.2rem;
}

.box-img {
  padding: 1rem;
}

.portfolio {
  background-color: #18001B;
}

.intro {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #18001B;
  width: 66.66%;
}

.fine-art,
.about,
.shop {
  background-color: #673B5F;
}

.digital-art,
.services {
  background-color: #CE995D;
}

.photography {
  background-color: #2D0638;
}

.flexslider{
  position: relative;
  background-image: url("img/Buck_RGB_border.png");
  background-repeat: no-repeat;
  background-position: 0px -130px;
  background-size: cover;
}

.three-dot {
  position: absolute;
  left: 63rem;
  width: 5rem;
}

.left-slider-arrow {
  position: absolute;
  top: 38.25rem;
  left: 2.3rem;
  width: 4rem;
}

.right-slider-arrow {
  position: absolute;
  top: 38.25rem;
  left: 65.5rem;
  width: 4rem;
}

@media screen and (max-width: 480px) {

main {
  flex-direction: column-reverse;
}

.bio {
  width: 100%;
}

.box {
  flex-direction: column-reverse;
  width: 100%;
  height: 100px;
}

.flexslider {
  width: 100%;
  background-position: center;
}

.intro {
  width: 100%;
  height: 300px;
}

#intro-div {
  height: 100%;
  padding-top: 13rem;
}

}
  

